*.3dm
a
*.rpt
*.exception
*.job
*.com
*.dat
*.inp
*.ipm
*.log
*.msg
*.odb
*.prt
*.sta
*.stl
*.xls
*.xlsx
*.png
*.x_t
*.jnl
*.cae
*.pdf
*.bdf
*.stp
*.abq
*.7
*.pac
*.sel
.idea
fort.7
__pycache__
/src/Lattice.egg-info
*.pkl
*.stlbak
*.msh
*.egg-info/
*.egg
data/outputs/simulation_results/*
!data/outputs/simulation_results/figure_homogenization/

/data/outputs/schur_complement/Schur_complement_BCC_Hybrid1_Hybrid4.npz
/data/outputs/saved_lattice_file

# Sphinx documentation build files
docs/build/

# MkDocs documentation build files
site/
